*{
  padding: 0;
  margin: 0;

}
html, body,#root{
  height: 100%;
}
#root{
  display: flex;
  flex-direction: column;
}
header{
  line-height: 44px;
  text-align: center;
}
main{
  flex: 1;
}
footer {
  line-height: 49px;
  display: flex;
}
footer a{
  text-align: center;
  flex: 1;
  text-decoration: none;
  color:#000;
}
.active{
  color:red
}